.project {
  display: flex;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  margin-right: 2.5rem;
  border-bottom: 1px solid #e5e5e5;
  width: 700px;
}

.code {
  border-left: 2px solid #d6331d;
  padding-left: 1rem;

  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;

  width: 118px;
}

.description {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.top {
  display: flex;
  justify-content: space-between;
}

.title {
  flex: 0 1 490px;
  color: #272727;
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
}

.comments {
  flex: 0 1 92px;
  justify-content: flex-end;
}

.bottom {
  display: flex;
}

.tags {
  display: flex;
  flex: 0 1 490px;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  background-color: #f2f2f2;
  color: #666;

  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
  text-transform: uppercase;
}

.alarm {
  flex: 0 1 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  width: 76px;
  height: 28px;
  color: #b2b2b2;

  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
  text-transform: uppercase;
}
