*,
*::before,
*::after,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  src: url(./assets/fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: Gilroy-Bold;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  src: url(./assets/fonts/Gilroy-Bold.ttf);
}

html,
body {
  height: 100%;
}

body {
  color: #272727;
  background: #ffffff;
  font-size: 62.5%;
  font-family: Gilroy;
  overflow-x: hidden;
}

a,
a:visited {
  color: #252934;
  font-size: 1rem;
  text-decoration: none;
  transition: 200ms;
}
