<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <targets>
    <target name="logfile" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyy-MM-dd}-api.log" >
      <layout xsi:type="JsonLayout" includeAllProperties="true">
        <attribute name="Time" layout="${longdate}" />
        <attribute name="Level" layout="${level:upperCase=true}" />
        <attribute name="Logger" layout="${logger}" />
        <attribute name="Message" layout="${ndlc:bottomFrames=-1:topFrames=-1:separator= } ${message}" />
        <attribute name="Exception" layout="${exception:format=@}" />
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>
