.wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 2.5rem;
  padding-top: 2rem;
  width: 50vw;
}

.title {
  font-family: Gilroy-Bold;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 1.5rem;
}

.subtitle {
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
}

.handler {
  margin: 1rem;
  height: 3rem;
}

.button {
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 6px;
  border: 1px solid #d6331d;
  background-color: #d6331d;
  padding: 10px 12px 10px 16px;
  color: #fdf3f2;
  font-family: Gilroy-Bold;
  font-size: 14px;
  letter-spacing: -0.02em;
  text-align: left;
  display: flex;
  align-items: center;
  height: 44px;
  text-transform: none;
}

.button > svg > path {
  stroke: #fdf3f2;
}

.button:active {
  transform: scale(0.99);
}

.button:focus {
  outline: none;
  border: 3px solid #de5846;
}

.button:hover {
  cursor: pointer;
}

.btnGroup {
  width: 100%;
}

.btnGroup .switchBtn {
  border-color: #fcebe9;
}

.switchBtn {
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 6px;
  border: 1px solid #fcebe9;
  background-color: #fcebe9;
  padding: 14px 24px;
  color: #d6331d;
  font-family: Gilroy-Bold;
  font-size: 14px;
  letter-spacing: -0.02em;
  text-align: left;
  display: flex;
  align-items: center;
  height: 44px;
  text-transform: none;
}

.switchBtn:hover {
  background: #ae2917;
  color: #fdf3f2;
  border: 1px solid #ae2917;
}

.switchBtn:focus {
  border: 3px solid #de5846;
}

.btnActive {
  background-color: #e0372f;
  color: #fdf3f2;
}
